@CHARSET "UTF-8";
html, body {
  height: 100%;
}
p, label, h3{
	font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
}
ul {
	cursor: pointer;
	list-style-type: none;
	border: 1px solid grey;
	border-radius: 0.5em;
	display: inline-block;
	padding: 0.3em;
}

ul:nth-child(odd) {
	background-color: #F8F8FF;
}

li {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
}

.invisible {
	display: none;
}

#wrapper {
	min-height:100%;
	position:relative;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:4em; /* Height of the footer element */
}
footer {
	width:100%;
	height:4em;
	position:absolute;
	bottom:0;
	left:0;
	border-top-color:#FF9933;
	border-top-style: outset;
}